*
{
    font-family: "Verdana";
}

body
{
    text-align: center;
    margin: 0px;
}

div#divLogoApp
{
    background-color: rgb(65, 124, 189);
    height: 90px;
}

img#imgIcones
{
    height: 70px;
}

img#imgLogoApp
{
    height: 200%;
}

img#imgIconeUsuario
{
    width: 120px;
}

h1
{
    background-color: rgb(253, 181, 63);
    color: aliceblue;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-left: 10px solid rgb(65, 124, 189);
    border-right: 10px solid rgb(65, 124, 189);
    border-top: 2px solid rgb(65, 124, 189);
    border-bottom: 2px solid rgb(65, 124, 189);
    border-radius: 30px 30px 100px 100px;
}

div#mensagemErro
{
    background-color: #d40000;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: aliceblue;
}

fieldset
{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

input
{
    border: 1px solid rgb(65, 124, 189);
    margin-bottom: 6px;
}

footer{
    background-color: rgb(65, 124, 189);
    height: 90px;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 1000;
    bottom: 0;
}

footer nav {
    position: fixed; /* Fixa a navegação no footer */
    bottom: 0; /* Alinha a navegação ao final do footer */
    left: 0;
}

footer nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex; /* Usando flexbox */
    justify-content: center; /* Centraliza os itens horizontalmente */
    text-align: center; /* Centraliza o conteúdo dos elementos inline (como as imagens) */
}

footer nav ul li {
    margin-right: 20px; /* Espaçamento entre os links */
    display: inline; /* Torna os itens da lista em linha */
}

footer nav ul li:last-child {
    margin-right: 0; /* Remove o espaçamento do último link */
}

footer nav ul li img {
    width: 70px; /* Define a largura das imagens */
    height: auto; /* Mantém a proporção da imagem */
}

div#divIconesFooter
{
    margin-left: 0;
    margin-right: 0;
}


.card {
    border: 1px solid #000000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: rgb(129, 128, 128);
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-top: 0;
    font-size: 18px;
}

.card-content p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    padding-bottom: 100px; /* Adiciona espaço na parte inferior para evitar que os cards fiquem ocultos atrás do footer */
}

.numbered-list {
    list-style-type: decimal;
}

.listaAlunosAgendados {
    display: inline-block;
    padding: 0px auto;
}

a {
    text-decoration: none; /* Remove o sublinhado dos links */
}


table, th, td {
  border: none;
}

.table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

table.striped tr {
  border-bottom: none;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.5);
}

table.striped > tbody > tr > td {
  border-radius: 0;
}

table.highlight > tbody > tr {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

table.highlight > tbody > tr:hover {
  background-color: rgba(242, 242, 242, 0.5);
}

table.centered thead tr th, table.centered tbody tr td {
  text-align: center;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

@media only screen and (max-width: 992px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */
  }
  table.responsive-table td:empty:before {
    content: '\00a0';
  }
  table.responsive-table th,
  table.responsive-table td {
    margin: 0;
    vertical-align: top;
  }
  table.responsive-table th {
    text-align: left;
  }
  table.responsive-table thead {
    display: block;
    float: left;
  }
  table.responsive-table thead tr {
    display: block;
    padding: 0 10px 0 0;
  }
  table.responsive-table thead tr th::before {
    content: "\00a0";
  }
  table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  table.responsive-table tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  table.responsive-table th {
    display: block;
    text-align: right;
  }
  table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }
  table.responsive-table tr {
    border-bottom: none;
    padding: 0 10px;
  }
  table.responsive-table thead {
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
}